Repository m2en/MessageQuote, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, documentation

.github/labeler.yml:

workflow:
  - .github/workflows/**.yml

dependencies:
  - yarn.lock

documentation:
  - /**.md

feat: すでに確認済みのチェックを削除
  src/server/service/quote.ts
Labels: none

feat(remove): 使用しない機能の削除
  src/server/event/errorEvent.ts
  src/server/event/index.ts
Labels: none

feat: 全てserviceへ
  src/server/index.ts
  src/server/service/autoJoinThread.ts
  src/server/service/index.ts
Labels: none

feat: 全てserviceへ
  src/server/service/autoJoinThread.ts
Labels: none

fix: 返信が任意のチャンネルになってしまう問題の修正
  src/server/service/quote.ts
Labels: none

chore: discord v13.8.0へのアップデート
  package.json
  yarn.lock
Labels: dependencies

docs: スペースの修正
  README.md
Labels: none

feat(move): ファイルの移動
  package.json
  src/index.ts
  src/service/autoJoinThread.ts
  src/service/index.ts
  src/service/ping.ts
  src/service/quote.ts
  src/setup/index.ts
  src/util/envManager.ts
  src/util/errorEmbed.ts
  src/util/index.ts
  src/util/quoteEmbed.ts
Labels: none

feat: アクティビティ欄の変更
  src/index.ts
Labels: none

feat: リンクの修正
  src/index.ts
Labels: none

chore: いらない依存関係の削除
  package.json
  yarn.lock
Labels: dependencies

fix yarn lock
  yarn.lock
Labels: dependencies

delete changelog
  CHANGELOG.md
  changelog/README.md
  changelog/version4/v4.0.0.md
  changelog/version4/v4.1.0.md
  changelog/version4/v4.2.0.md
  changelog/version4/v4.2.1.md
  changelog/version4/v4.2.2.md
  changelog/version4/v4.3.0.md
Labels: none

docs: Slash Commandの記述を削除
  README.md
Labels: none

docs: 環境変数の修正
  .example.env
  README.md
Labels: none

chore: 使用しないコマンドの削除
  package.json
Labels: none

fix: docker buildできない問題の修正
  Dockerfile
  package.json
Labels: none

fix: docker runができない問題の修正
  package.json
Labels: none

docs: コマンドの修正
  README.md
Labels: none

build: Improve Dockerfile
  Dockerfile
Labels: none

chore: remove pm2
  package.json
  yarn.lock
Labels: dependencies

docs: remove command
  README.md
Labels: none

ci: ghcr への自動プッシュCIの追加
  .github/workflows/build-push.yml
Labels: workflow

docs: コマンドの間違えを修正
  README.md
Labels: none

fix: バージョン表記が不明になる問題を修正
  src/index.ts
Labels: none

fix: 型の不一致を修正
  src/index.ts
Labels: none

fix(ci): コンテナイメージ名を小文字に
  .github/workflows/build-push.yml
Labels: workflow

fix(ci): コンテナイメージ名を小文字に
  .github/workflows/build-push.yml
Labels: workflow

fix(ci): コンテナイメージ名の修正
  .github/workflows/build-push.yml
Labels: workflow

fix(ci): コンテナイメージ名の修正
  .github/workflows/build-push.yml
Labels: workflow

feat: skip prefixがコマンドとして扱われるように変更
  src/service/ping.ts
Labels: none

docs: pingコマンドのprefixのオーバーライドについて記載
  README.md
Labels: none

fix: リンクの修正
  src/index.ts
Labels: none

fix: discord.jsのリンクを押すと最新のリリースが表示されるように
  src/index.ts
Labels: none

bump version
  package.json
Labels: none

chore: authorの追加
  package.json
Labels: none

bump version
  package.json
Labels: none

fix: ghcr.ioへのpushに失敗する問題の修正
  .github/workflows/build-push.yml
Labels: workflow

Update README.md
  README.md
Labels: none
