Repository m2en/MessageQuote, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, documentation

bump version : v4.3.0
  changelog/README.md
  changelog/version4/v4.3.0.md
  package.json
Labels: none

feat: メッセージ上限に達した際のエラーを追加
  src/server/service/quote.ts
Labels: none

fix: エントリーポイントの環境変数取り出し方法を別モジュールに
  src/server/index.ts
  src/server/util/envManager.ts
  src/server/util/index.ts
Labels: none

fix: Embed作成に使用するprefixの環境変数取り出し方法を別モジュールに
  src/server/command/helpCommand.ts
Labels: none

fix: prefixの環境変数取り出し方法を別モジュールに
  src/server/service/quote.ts
Labels: none

fix: グローバル変数に修正
  src/server/command/helpCommand.ts
  src/server/index.ts
  src/server/service/quote.ts
  src/server/util/envManager.ts
Labels: none

fix: タイポの達人
  src/server/util/envManager.ts
Labels: none

fix: 非モジュール化
  src/server/service/quote.ts
Labels: none

refactor: コードの整形
  .github/workflows/codeql-analysis.yml
  README.md
  changelog/README.md
  changelog/version4/v4.1.0.md
  changelog/version4/v4.2.0.md
  changelog/version4/v4.2.1.md
  changelog/version4/v4.2.2.md
  changelog/version4/v4.3.0.md
  src/server/service/quote.ts
  src/setup/index.ts
Labels: workflow

docs: コマンド登録のドキュメント削除
  docs/image/command.png
  src/setup/README.md
Labels: none

docs: ホスト版の導入リンク追加
  README.md
Labels: none

docs: スラッシュコマンド登録の手順を追加
  README.md
Labels: none

docs: `SKIP_PREFIX` の追加
  README.md
Labels: none

Release v4.3.0
  changelog/version4/v4.3.0.md
Labels: none

fix: 日付の修正
  changelog/version4/v4.3.0.md
Labels: none

fix: アクティビティの更新に30分かかっていた問題を修正
  src/server/index.ts
Labels: none

Release v4.3.0
  changelog/version4/v4.3.0.md
Labels: none

bump version
  package.json
Labels: none

docs(fix): 表記の一部修正
  README.md
Labels: none

chore: 不要なコマンドの削除
  package.json
Labels: none

chore: compile -> build
  package.json
Labels: none

fix: Command Permission v2の破壊的変更に対応
  src/setup/index.ts
Labels: none

chore: Dockerfileの追加
  Dockerfile
Labels: none

chore: Dockerfile ignoreの追加
  .dockerignore
Labels: none

chore: USERの追加
  Dockerfile
Labels: none

chore: build dir ignore
  .dockerignore
Labels: none

chore: remove .env
  Dockerfile
Labels: none

chore: remove asterisk
  Dockerfile
Labels: none

chore: srcだけcopyするように
  Dockerfile
Labels: none

docs: Docker対応のReadmeに変更
  .example.env
  README.md
Labels: none

chore: upgrade dependencies
  yarn.lock
Labels: dependencies

bump version
  package.json
Labels: none

docs: Slash Commandに関する情報を記載
  README.md
Labels: none

feat(remove): ヘルプコマンドの削除
  src/server/command/helpCommand.ts
Labels: none

feat: コマンド類を全てserviceへ
  src/server/index.ts
  src/server/service/debug.ts
  src/server/service/index.ts
  src/server/service/ping.ts
  src/setup/index.ts
Labels: none

feat(remove): Commandディレクトリの削除
  src/server/command/index.ts
Labels: none

feat: 非公開メッセージで返信するように変更
  src/server/service/debug.ts
Labels: none

feat: 注意書きを追加
  src/setup/index.ts
Labels: none

feat(remove): デバック機能の削除
  README.md
  src/server/service/debug.ts
  src/server/service/index.ts
  src/setup/index.ts
Labels: none

feat: 引数にListenerを受け取るように
  src/server/index.ts
  src/server/service/ping.ts
  src/server/service/quote.ts
Labels: none

.github/labeler.yml:

workflow:
  - .github/workflows/**.yml

dependencies:
  - yarn.lock

documentation:
  - /**.md
