Repository m2en/MessageQuote, pull requests merged in 2022-06, with the labels that each got.

#236 デバック機能の削除
  README.md
  src/server/command/debugCommand.ts
  src/server/command/helpCommand.ts
  src/server/command/index.ts
  src/server/command/pingCommand.ts
  src/server/index.ts
  src/server/service/index.ts
  src/server/service/ping.ts
  src/server/service/quote.ts
  src/setup/index.ts
Labels: enhancement

#237 feat: voice-in-textへの対応
  package.json
  src/server/service/quote.ts
  yarn.lock
Labels: enhancement, dependencies

#230 MessageQuote v5.0.0
  .dockerignore
  .example.env
  CHANGELOG.md
  Dockerfile
  README.md
  changelog/README.md
  changelog/version4/v4.0.0.md
  changelog/version4/v4.1.0.md
  changelog/version4/v4.2.0.md
  changelog/version4/v4.2.1.md
  changelog/version4/v4.2.2.md
  changelog/version4/v4.3.0.md
  package.json
  src/index.ts
  src/server/command/debugCommand.ts
  src/server/command/helpCommand.ts
  src/server/command/index.ts
  src/server/command/pingCommand.ts
  src/server/event/errorEvent.ts
  src/server/event/index.ts
  src/server/service/index.ts
  src/service/autoJoinThread.ts
  src/service/index.ts
  src/service/ping.ts
  src/service/quote.ts
  src/setup/index.ts
  src/util/envManager.ts
  src/util/errorEmbed.ts
  src/util/index.ts
  src/util/quoteEmbed.ts
  yarn.lock
Labels: enhancement, dependencies

#238 build: `Dockefile`の改善
  Dockerfile
Labels: enhancement

#242 chore: pm2の削除
  README.md
  package.json
  yarn.lock
Labels: documentation, dependencies

#250 feat: `SKIP_PREFIX` の値をオーバーライドしてPingコマンドのprefixとして動作するように変更
  README.md
  package.json
  src/index.ts
  src/service/ping.ts
Labels: enhancement
