Repository m2en/MessageQuote, pull requests merged in 2022-03, with the labels that each got.

#92 引用の削除を改良
  src/server/component/deleteButton.ts
  src/server/service/quoteDelete.ts
  src/server/service/quoteEvent.ts
Labels: Type: improvement

#93 メッセージデバック機能の追加
  .example.env
  src/server/command/debugCommand.ts
  src/server/index.ts
  src/server/service/quoteDelete.ts
Labels: Type: enhancement

#95 メッセージタイプの表示を追加
  src/server/service/quoteEvent.ts
Labels: Type: enhancement

#96 チャンネルタイプの追加
  src/server/service/quoteEvent.ts
Labels: Type: enhancement

#115 feat(ci): Add "auto pull request labeler"
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
Labels: workflow

#114 refactoring: refactoring entrypoint
  package.json
  src/server/index.ts
Labels: refactoring

#117 feat: add HelpCommand
  .example.env
  package.json
  src/server/service/index.ts
  src/server/service/quoteDelete.ts
  src/server/service/quoteEvent.ts
  src/setup/index.ts
  yarn.lock
Labels: enhancement, refactoring, dependencies

#122 feat: コマンドを追加
  src/server/command/debugCommand.ts
  src/server/command/helpCommand.ts
  src/server/command/index.ts
  src/server/command/pingCommand.ts
  src/server/index.ts
Labels: enhancement

#123 feat: ErrorModuleの追加
  src/server/event/errorEvent.ts
  src/server/event/index.ts
  src/server/index.ts
Labels: enhancement

#127 feat: 引用の再構築
  src/server/command/helpCommand.ts
  src/server/index.ts
  src/server/service/index.ts
  src/server/service/quote.ts
  src/server/util/errorEmbed.ts
  src/server/util/index.ts
  src/server/util/quoteEmbed.ts
Labels: enhancement

#129 docs: リンクが地の文にまで波及している箇所を修正
  CHANGELOG.md
Labels: documentation

#133 refactor: rename type alias with UpperCamelCase
  src/server/command/debugCommand.ts
Labels: refactoring
